@{
    ViewBag.Title = "Home Page";
}
<p>
<p>
<div class="jumbotron">
    <h1>Enhanced Music App</h1>
   
    
</div>

<div class="row">
    <div class="col-md-3">
        
        <p><a href="/Albums" class="btn btn-primary btn-lg">Albums &raquo;</a></p>
        
        
    </div>

    <div class="col-md-3">
        
        <p><a href="/Genres" class="btn btn-danger btn-lg">Genres &raquo;</a></p>
    </div>

    <div class="col-md-3">
        
        <p><a href="/Artists" class="btn btn-info btn-lg">Artists &raquo;</a></p>
    </div>

    <div class="col-md-3">
        
        <p><a href="/Playlists" class="btn btn-warning btn-lg">Playlists &raquo;</a></p>
    </div>
</div>