@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music App</h1>
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Albums</h3>
        <p><a href="/Albums" class="btn btn-primary btn-lg">Go to albums &raquo;</a></p>
        
        
    </div>

    <div class="col-md-4">
        <h3>Genres</h3>
        <p><a href="/Genres" class="btn btn-primary btn-lg">Go to genres &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Artists</h3>
        <p><a href="/Artists" class="btn btn-primary btn-lg">Go to artists &raquo;</a></p>
    </div>
</div>